<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" type="text/css" href="../public/css/home.css">
    <link rel="stylesheet" type="text/css" href="../public/css/menuside.css">
    <link href="../public/fontawesome-free-5.14.0-web/css/all.css" rel="stylesheet">

</head>

<body>

    <div class="container-fuild">
        {{>components/navbar}}
        <div class="row m-0">
            <div class="col-md-2 p-0">
                {{> components/menuside}}
            </div>
            <div class="col-md-10">
                <div class="row py-2">
                    <div class="col-md-6">
                        <h3>Phiếu Thu Tiền</h3>
                    </div>
                </div>
                <form class="text-center border border-light p-5" method="POST">
                    <div class="form-row mb-4">
                        <div class="col">
                            <div>Họ Tên Khách Hàng: </div><input type="text" id="Name" name="Name"
                                class="form-control mb-4" placeholder="Họ Tên" value="{{TenKH}}" required
                                {{#if TenKH}}readonly="true" {{/if}}>
                        </div>
                        <div class="col">
                            <div>Địa Chỉ: </div>
                            <input type="text" id="Address" name="Address" class="form-control mb-4"
                                placeholder="Địa Chỉ" required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <div>Số Điện Thoại: </div>
                            <input type="text" id="Phone" name="Phone" class="form-control mb-4"
                                placeholder="Số điện thoại" required>
                        </div>
                        <div class="col">
                            <div>Email: </div>
                            <input type="email" id="Email" name="Email" class="form-control mb-4" placeholder="Email"
                                value="{{EmailKH}}" required {{#if EmailKH}}readonly="true" {{/if}}>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <div>Ngày Thu: </div>
                            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="NgayThu"
                                name="NgayThu" class="form-control" required value="{{NgayThu}}" {{#if tenKH}}disabled
                                {{/if}}>
                        </div>
                        <div class="col">
                            <div>Số Tiền Thu: </div>
                            <input type="number" id="Money" name="Money" class="form-control mb-4" required
                                placeholder="Số Tiền Thu" value="{{tongtien}}">
                        </div>
                    </div>
                    <button class="btn btn-info my-4" type="submit">Xác Nhận</button>
                </form>
            </div>
        </div>
    </div>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../public/js/PhieuBan.js"></script>
</body>

</html>