<nav id="sidebar">
    <div class="p-4 pt-5">
        
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/admin">Home</a>
            </li>
            <li>
               <a href="#QLSach" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quản Lý sách</a> 
               <ul class="collapse list-unstyled" id="QLSach">
                <li>
                    <a href="/admin/ListBook">Sách</a>
                </li>
                <li>
                    <a href="/admin/DanhMucSanPham">Thể loại</a>
                </li>
                <li>
                    <a href="/admin/PhieuNhap">Nhập Sách</a>
                </li>
                <li>
                    <a href="/admin/PhieuBan">Bán Sách</a>
                </li>
               </ul>
            </li>
            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quản Lý</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/admin/LichSuNhapSach">Lịch Sử nhập sách</a>
                    </li>
                    <li>
                        <a href="/admin/LichSuBanSach">Lịch Sử Bán Sách</a>
                    </li>
                    <li>
                        <a href="/admin/PhieuThuTien">Phiếu Thu Tiền</a>
                    </li>
                    <li>
                        <a href="/admin/KhachHang">Khách Hàng</a>
                    </li>
                    <li>
                        <a href="/admin/QuiDinh">Qui định</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#BaoCao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Thống kê</a> 
                <ul class="collapse list-unstyled" id="BaoCao">
                    <li>
                        <a href="/admin/BaoCao/TonSach">Báo cáo tồn sách</a>
                    </li>
                    <li>
                        <a href="#">Báo cáo công nợ</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/signout">Đăng xuất</a>
            </li>
        </ul>

    </div>
</nav>